/.wercker
/_builds
/_cache
/_steps
/_projects

*.log
*.log.*

/ENVIRONMENT_LOCAL

/src/node_modules/
/src/npm-debug.log
/src/public/js/vendor/
/src/public/js/*.min.js
/src/public/cache/
/src/public/img/favicons
/src/templates/includes
/src/public/bundle
