extends ../../layouts/base

block content
  .error-container
    h1 500 error
    if title
      h2= title
    if message
      pre.message= message
    if err && _.isError(err) && env === 'development'
      pre= err.stack
