extends ../layouts/base

block content
  .container
    .content
      .title Express
      .subtitle
        span #{version.match(/^(\d+\.\d+\.\d+)/)[0]}
      div= process.env.TEST || 'TEST envar not set'
